
/*///////*/
/*BEGIN */
/*NON SPECIFIC, USUAL CSS*/
.no-touch{
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.hide{
	display: none;
	opacity: 0;
}

.unclickable{
	pointer-events: none;
	tabindex:"-1";
}

/*END */
/*NON SPECIFIC, USUAL CSS*/
/*///////*/




/*///////*/
/*BEGIN */
/*CHARACTER PICKER*/

#characterCard_Holder {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #444856;
	background-image: url("../images/concrete_seamless.png");
}

.row {
	display: flex;
	width: 90%;
	height: 25vh;
	margin: 0 auto;
	margin-top: 10vh;
}
.row:nth-of-type(2) {
	margin-top: 2.5vh;
}

.row:nth-of-type(1):before {
	/*content: "CHOOSE YOUR FIGHTER";*/
	/*content: attr(data-content) 'CHOOSE YOUR FIGHTER';*/
	font-style: italic;
	font-size: 4vmin;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	margin-top: -7vh;
	left:0px;
	text-align: center;
	font-family: 'Poller One', cursive;
	color: white;
	text-shadow: 2px 2px 10px #000, -2px 2px 10px #000;
}
.p1_rowTitle:before {
	content: "CHOOSE YOUR FIGHTER, Player 1";
}
.p2_rowTitle:before {
	content: "CHOOSE YOUR FIGHTER, Player 2";
}
.fight_rowTitle:before {
	content: "BEGIN FIGHT!";
}

.card {
	margin:0 auto;
	width: 25vh;
	height: 25vh;
	background-color: rgba(0,0,0,0.5);
	border: 1vh inset rgba(105,111,135,0.9);
	overflow: hidden;
	border-radius: 1vh;
	padding: 0;
	position: relative;
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	box-shadow: inset 2px 2px 20px #000, inset -2px 2px 20px #000;
	transition: box-shadow 0.1s ease-in-out;
}

.card:nth-of-type(1){
	background-image: url("../images/characters/heads/BobaFett_head.PNG");
}
.card:nth-of-type(2){
	background-image: url("../images/characters/heads/Chewbacca_head.PNG");
}
.card:nth-of-type(3){
	background-image: url("../images/characters/heads/DarthSidious_head.PNG");
}
.card:nth-of-type(4){
	background-image: url("../images/characters/heads/DarthVader_head.PNG");
}
.row:nth-of-type(2) .card:nth-of-type(1){
	background-image: url("../images/characters/heads/LukeSkywalker_head.PNG");
}
.row:nth-of-type(2) .card:nth-of-type(2){
	background-image: url("../images/characters/heads/LeiaOrgana_head.PNG");
}
.row:nth-of-type(2) .card:nth-of-type(3){
	background-image: url("../images/characters/heads/PadmeAmidala_head.PNG");
}
.row:nth-of-type(2) .card:nth-of-type(4){
	background-image: url("../images/characters/heads/obi-WanKenobi_head.PNG");
}


.card_used{
	opacity: .6;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none; /* Safari */
  	-khtml-user-select: none; /* Konqueror HTML */
  	-moz-user-select: none; /* Firefox */
  	-ms-user-select: none; /* Internet Explorer/Edge */
  	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/*END */
/*CHARACTER PICKER*/
/*///////*/




/*///////*/
/*BEGIN */
/*CHARACTER SELECTION*/

#selected_Holder {
	width: 100%;
	height: 35vh;
	position: absolute;
	bottom: 0px;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	box-shadow: inset 0px 2px 100px #000, inset 0px 2px 100px #000;
}
.selectedHolder_battle{
	height: 75vh !important;
}

#p1,#p2{
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	border: 1vh inset rgba(105,111,135,0.9);
	overflow: hidden;
	position: relative;
}
#p1{border-right: 0px;}
#p2{border-left: 0px;}


#p1 img, #p2 img{
	margin-top: 1vh;
	max-width:80%;
	max-height:80%;
	-webkit-filter: drop-shadow(0px 0px 25px rgba(200,200,200,0.9));
}
#p1 p, #p2 p{
	cursor: default;
	margin: 0 auto;
	position: absolute;
	text-align: left;
	bottom: 2vh;
	z-index: 1;
	font-size: 6vmin;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Poller One', cursive;
	text-shadow: 1px 0px 30px #000, -1px 0px 30px #000, 1px 0px 1px #000, -1px 0px 1px #000;
}

/*LABELS TEXT*/
#p1 p:nth-of-type(1){ 
	left:5%; 
	bottom: 10vh;
	color: #67FF00;
	-ms-transform: rotate(-25deg); /* IE 9 */
    -webkit-transform: rotate(-25deg); /* Chrome, Safari, Opera */
    transform: rotate(-25deg);
    z-index: 2;
}
#p2 p:nth-of-type(1){ 
	right:5%; 
	bottom: 10vh;
	color: #ff0000;
	-ms-transform: rotate(25deg); /* IE 9 */
    -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
    transform: rotate(25deg);
    z-index: 2;
}

/*NAME TEXT*/
#p1 p:nth-of-type(2){ 
	color: #ccc;
	font-size: 3vmin;
	width: 100%;
	text-align: center;
	border-radius: 0;
	text-shadow: 1px 0px 10px #000, -1px 0px 10px #000, 1px 1px 10px #000, -1px 1px 10px #000;
}
#p2 p:nth-of-type(2){ 
	color: #ccc;
	font-size: 3vmin;
	width: 100%;
	text-align: center;
	border-radius: 0;
	text-shadow: 1px 0px 10px #000, -1px 0px 10px #000, 1px 1px 10px #000, -1px 1px 10px #000;
}

.selected_Holder:after {
	content: "VS";
	text-align: center;
	width: 100%;
	height: 100px;
	position: absolute;
	margin: 0 auto;
	color: #fff;
	font-family: 'Poller One', cursive;
	top: 35%;
	color:#444856;
	text-shadow: 1px 0px 10px #000, -1px 0px 10px #000, 1px 1px 10px #000, -1px 1px 10px #000;
	font-size: 10vmin;
}

#confirmButton1, #confirmButton2{
	position: absolute;
	background-color: rgba(100,100,100,0.5);
	width: 90%;
	left: 5%;
	bottom: 5vh;
	margin: 0 auto;
	font-size: 3vmin;
	text-transform: uppercase;
	font-family: sans-serif;
	border-radius: 10px;
	opacity: .8;
	color: #fff;
	z-index: 1000;
	text-shadow: 1px 0px 10px #000, -1px 0px 10px #000, 1px 1px 10px #000, -1px 1px 10px #000;
}
#confirmButton1{
	color:#67FF00;
}

#confirmButton2{
	color:#ff0000;
}

/*END */
/*CHARACTER SELECTION*/
/*///////*/


/*///////*/
/*BEGIN */
/*STATS*/
#stat_H_p1, #stat_H_p2{
	height: 30%;
	width: 90%;
	margin:0 auto;
	position: absolute;
	top: 1vh;
	transition: margin .5s ease, opacity 1s ease, width .5s ease;
	text-shadow: 1px 0px 2px #000, -1px 0px 2px #000;
	color: #fff;
	left: 0vmax;
}

#stat_H_p1 div, #stat_H_p2 div{
	box-shadow: 2px 2px 10px #000, -2px 2px 10px #000,
		inset 1px 0px 20px rgba(255,255,255,0.5), inset -1px 0px 20px rgba(255,255,255,0.5);
	border-radius: 5px;
	font-family: sans-serif;
	text-align: left;
	padding-left: 10px;
	padding-top: 2px;
}
.stat_HP {
	height: 30%;
	width: 100%;
	background-color: red;
}
.stat_AP{
	height: 30%;	
	width: 100%;
	background-color: green;
}
.stat_CAP{
	height: 30%;
	width: 100%;
	background-color: blue;
}
/*END */
/*STATS*/
/*///////*/




/*///////*/
/*BEGIN */
/*attackButton*/

#attackButton_Wrapper {
	width: 100%;
	height: 25vh;
	top: 0;
	position: absolute;
	z-index: 1000;
	overflow: hidden;
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0px 0px 97px 35px rgba(0,0,0,0.84);
	-moz-box-shadow: inset 0px 0px 97px 35px rgba(0,0,0,0.84);
	box-shadow: inset 0px 0px 97px 35px rgba(0,0,0,0.84);
}

#attackButton{
	width: 100%;
	height: 100%;
	background-color: #333;
	z-index: 1000;
	/*mar/gin:0 auto;*/
	border-radius: 20px;
	text-align: center;
	color: #ccc;
	font-family: sans-serif;
	font-size: 10vmin;
	padding: 2vmin 2vmin;
	line-height: 10vmin;
	border: 1vh inset rgba(105,111,135,0.9);
	box-shadow: 2px 2px 100px #000, -2px 2px 100px #000;
	text-shadow: 2px 2px 4px #000, -2px 2px 4px #000;
}
#attackButton_Wrapper button:hover{
	background-color: #333;
	color:#ffaa06;
}
#attackButton_Wrapper button:active{
	background-color: #000;
	color:#ffaa06;
}

/*END */
/*attackButton*/
/*///////*/






/*///////*/
/*BEGIN */
/*MISC ANIMATIONS*/

.shake {
  -webkit-animation: shake_anim 0.5s;
  animation: shake_anim 0.5s;
}

@keyframes shake_anim {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}

.spin {
  -webkit-animation: spin_anim 1s normal forwards;
  animation: spin_anim 1s normal forwards;
}

@keyframes spin_anim {
  100% {
    opacity: 0;
    transform: rotate(1000deg);
  }
}

/*END */
/*MISC ANIMATIONS*/
/*///////*/

